.bi-formulary-form {
  .form-title {
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
  }
  .foot-note {
    color: #9c9c9c;
  }
  .formulary-footnote {
    margin-top: 25px;
    color: #9c9c9c;
  }
}